.auth-page {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 1 100%;
  min-height: 100%;

  &__content {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;

    background-color: lightgreen;
    border-radius: 25px;
  }
}
